.p{
    text-align: justify;
    color: red;
    
}
.p2{
    text-align: justify;
    color: rgb(0, 255, 13);
  
}
.p3{
    text-align: justify;
    color: #ff0000b4;
}
.p4{
    text-align: justify;
    color: rgb(209, 2, 130);
    
}
.p5{
    text-align: justify;
    color: rgb(0, 0, 0);
    
}
